<div id="<%= dom_id item %>">
  <div>
    <strong>Title:</strong>
    <%= item.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= item.description %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= item.price %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= item.status %>
  </div>

  <div>
    <strong>Community:</strong>
    <%= item.community_name %>
  </div>

</div>
