<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>

<% if @item.available? && user_signed_in? && @item.user != current_user %>
  <%= button_to "Buy Now — $#{ @item.price } HKD", checkout_path(item_id: @item.id),
      method: :post,
      data: { turbo: false },
      style: "background-color: #6772e5; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; margin-top: 10px;" %>
<% end %>

<% if user_signed_in? && @item.user == current_user %>
  <% if @item.available? %>
    <%= button_to "Mark as Reserved", update_status_item_path(@item, status: :reserved), method: :patch, class: "btn btn-warning" %>
  <% elsif @item.reserved? %>
    <%= button_to "Mark as Sold", update_status_item_path(@item, status: :sold), method: :patch, class: "btn btn-success" %>
  <% end %>
<% end %>

<% if user_signed_in? && current_user != @item.user %>
  <%= button_to "Message seller",
      conversations_path(
        item_id: @item.id,
        seller_id: @item.user
      ),
      method: :post %>
<% end %>

