<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>

<% if @item.available? %>
  <%= button_to "Mark as Reserved", update_status_item_path(@item, status: :reserved), method: :patch, class: "btn btn-warning" %>
<% elsif @item.reserved? %>
  <%= button_to "Mark as Sold", update_status_item_path(@item, status: :sold), method: :patch, class: "btn btn-success" %>
<% end %>
